p {
    background-color: lightgrey;
    font-family:'Courier New', Courier, monospace;
}
p::first-line{
    text-transform: uppercase;
}
p::first-letter{
    font-size: 1.8em;
}
p::before{
    content: "Sinopsis:";
    color:red;
    background-color: yellow;
    font-weight: bold;
}